@model hr1.humanResources.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus.MaritalDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus.MaritalDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position.Position1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position.Position1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dept.Department1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dept.Department1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerfScore.PerformanceScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerfScore.PerformanceScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpStatus.EmploymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpStatus.EmploymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Absences)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Absences)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmpId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
